header{
    border: #5f9ea0 solid 1px;
    border-radius: 10px;
    padding: .5em;
}
img{
    width: 33%;
    height: auto;
}
hgroup{
    text-align: center;
    background-color: #e8f2a1;
    border: black solid 1px;
    border-radius: 10px;
    margin-bottom: 1em;
}
nav{
    background-color: #f7d1d5;
    padding: .5em;
    border: black solid 1px;
    border-radius: 10px;
    margin-bottom: .5em;
}
nav a{
    text-align: center;
    display: inline-block;
    width: 19%;
}
footer nav a{
    text-align: center;
    display: inline-block;
    width: 30%;
    margin: .5em;
}
main{
    text-align: justify;
    margin: .5em;
    padding: .5em;
    border:#e6caa6 dotted 3px;
}
article{
    padding: .5em;
    border:#a359e8 dotted 3px;
    display: inline table;
    width: 70%;
}
aside{
    padding: .5em;
    border:#a52a2a dotted 3px;
    display: inline table;
    width: 25%;
}
main #tituloh1{
    text-align: center;
    padding: 1em;
    background-color: #b0a1f2;
    border: black solid 1px;
    border-radius: 10px;
}
main #sec1{
    border: black solid 1px;
    border-radius: 10px;
    background-color: #a8f2a1;
}
main #sec1 figure{
    width: 40%;
    margin: 0px;
    margin-left: 1em;
    display: inline-block;
}
main #sec1 figure img{
    float: left;
    width: 100%;
    height: auto;
    display: inline;
    margin: 1em;
}
main #sec1 #parrafo1{
    display: inline-block;
    width: 50%;
    border: black solid 1px;
    border-radius: 10px;
    margin: 1em;
}
main section h1{
    background-color: #f2ada1;
    text-align: center;
    padding: 1em;
    border: black solid 1px;
    border-radius: 10px;
}
main section #div1{
    background-color: #dbb4dc;
    padding: 1em;
    border: black solid 1px;
    border-radius: 10px;
    float: left;
    width: 45%;
    height: 30em;
}
main section #div2{
    background-color: #dbb4dc;
    padding: 1em;
    border: black solid 1px;
    border-radius: 10px;
    float: right;
    width: 45%;
    height: 30em;
}
main section div p{
    padding: .5em;
}
main section div img{
    float: left;
    width: 80%;
    height: auto;
    display: inline;
    margin: 1em;
}
main aside div{
    background-color: #b4c7dc;
    padding: .5em;
    margin-top: 2em;
    border: black solid 1px;
    border-radius: 10px;
}
footer{
    border: #7c796c dotted 3px;
    border-radius: 10px;
}
footer p{
    border: #a3a196 solid 1px;  
    border-radius: 10px;
    margin: .5em; 
}