header{
    border: #5f9ea0 solid 1px;
    border-radius: 10px;
    padding: .5em;
}
img{
    width: 33%;
    height: auto;
}
hgroup{
    text-align: center;
    background-color: #e8f2a1;
    border: black solid 1px;
    border-radius: 10px;
    margin-bottom: 1em;
}
nav{
    background-color: #f7d1d5;
    padding: .5em;
    border: black solid 1px;
    border-radius: 10px;
    margin-bottom: .5em;
}
nav a{
    text-align: center;
    display: inline-block;
    width: 19%;
}
footer nav a{
    text-align: center;
    display: inline-block;
    width: 30%;
    margin: .5em;
}
main{
    text-align: justify;
    margin: .5em;
    padding: .5em;
    border:#e6caa6 dotted 3px;
}
article{
    padding: .5em;
    border:#a359e8 dotted 3px;
    display: inline table;
    width: 70%;
}
aside{
    padding: .5em;
    border:#a52a2a dotted 3px;
    display: inline table;
    width: 25%;
}
main h1{
    text-align: center;
    padding: 1em;
    background-color: #b0a1f2;
    border: black solid 1px;
    border-radius: 10px;
}

footer{
    border: #7c796c dotted 3px;
    border-radius: 10px;
}
footer p{
    border: #a3a196 solid 1px;  
    border-radius: 10px;
    margin: .5em; 
}